body{
    background-color: #370617;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
}
.container{
    width: 40%;
    min-height: 150px;
    background-color:#F48C06 ;
    padding: 20px;
    gap: 10px;
    display: flex;
    margin: 10px;

}
