body{
    background-color: #370617;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
}
.container{
    width: 40%;
    min-height: 160px;
    background-color:#F48C06 ;
    padding: 20px;
    gap: 10px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}
.box1, .box2, .box3{
    width: 100px;
    height: 100px;
    background-color: #9D0208;
    border-radius: 10px;
}
.container1{
    align-items: flex-end;
    justify-content: flex-start;
}
.container2{
    justify-content: center;
    align-items: stretch;
 }
.container2 >div{
    height: auto;
}
.container3{
    justify-content:flex-end;
    align-items: center;
}
.container4{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container4 .box3{
    align-self: flex-end;
}
.container5{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family:"Roboto", sans-serif; 
}
.container5 .box2{
    height: 64px;
    justify-content: center;
}
.container5 .box1,.container5.box3{
    align-items: stretch;
    height: 120px;
}
.container5 .box1, .container5 .box3{
    height: 140px;
}
.container5>div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF ;
    padding-top: 20px;
}
.container5 .box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.container6 .box2{
    flex-grow: 2;
    justify-content: space-around;
}

