body{
    background-color: #370617;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
}
.container{
    width: 40%;
    min-height: 160px;
    background-color:#F48C06 ;
    padding: 20px;
    gap: 10px;
    display: flex;
    margin: 10px;

}
.box1, .box2, .box3{
    width: 100px;
    height: 100px;
    background-color: #9D0208;
}
.container1{
    align-items: flex-end;
    justify-content: flex-start;
    
}
.container2{
    justify-content: center;
    align-items: stretch;

    }
.container2 >div{
    height: auto;

}
.container3{
    justify-content:flex-end;
    align-items: center;
}
.container4{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.container4 .box3{
    align-self: flex-end;
}
.container5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:;
    
}
.container5 .box2{
    height: 80px;
}
.container5 .box1,.container5.box3{
    align-items: stretch;
}
.container5 .box1, .container5 .box3{
    height: 140px;
}



